<div id="<%= dom_id off_time %>">
  <p>
    <strong>Vacation:</strong>
    <%= off_time.vacation_id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= off_time.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= off_time.ends_at %>
  </p>

</div>
