<p style="color: green"><%= notice %></p>

<h1>Off times</h1>

<div id="off_times">
  <% @off_times.each do |off_time| %>
    <%= render off_time %>
    <p>
      <%= link_to "Show this off time", off_time %>
    </p>
  <% end %>
</div>

<%= link_to "New off time", new_off_time_path %>
