<h1 class="text-center mt-4">Register a new off time period for review</h1>

<div class="row justify-content-center mt-5">
  <div class="col-sm-12 col-lg-3">
    <%= render "form", off_time: @off_time %>
  </div>
</div>
